
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: sans-serif;

}

h1,nav,button,a
{   
    font-size: 20px;
    font-weight:200;
    color: blanchedalmond;
    border: 2px ;

}
header{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav_class{
    list-style: none;
}

.nav_class li{
    display: inline;
    padding: 0px 20px;
}


h1{
   margin-left: 5%;
}

.nav_class li a{
    transition: all .3s to 0s;
}

.nav_class li a:hover{
    color: rgb(104, 166, 238);
}


a{
    text-decoration: none;
}
h1
{
    cursor: pointer;
}

button
{
    padding: 10px 10px;
    margin-right: 5%;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(#55596b,#757887,#55596b);
    transition: all .3s to 0s;
}

button:hover
{
    background-image: linear-gradient(#6b6555,#d9d4a9,#6b6555);
    color: black;
}

.project_1
{
    background-color: #616370;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25vh;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
  
    background-color:  #43454e;
    width: 90%;
    height: 80%;
    /* opacity: 10%; */
    box-shadow: 0vh 0vh 2vw 2vh rgb(146, 160, 223)  ,
    0vh 0vh 2vw 2vh #1b45ff ;
    justify-content: center;
    align-items: center;
    display: flex;

}


.clock{
    display: flex;
    width: 50%;
    height: 25vh;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5vw;
    font-weight: 15vw;
    color: rgb(253, 245, 212);
    box-shadow:0vh 0vh 1vw 1vh rgb(223, 146, 199)  ,
    0vh 0vh 1vw 1vh #ff1be8 ;
    border-radius: 50%;
    /* background-color: #6e355f */
    
}


